<section class="contact">
    <h1 class="contact__header">Kde ma ešte nájdeš?</h1>

    <div class="social-media">
        <a class="social-media__logo" href="/"><img class="social-media__logo" src="/images/pinterest.png" alt="pinterest"></a>
        <a class="social-media__logo" href="/"><img class="social-media__logo" src="/images/instagram.png" alt="instagram"></a>
        <a class="social-media__logo" href="/"><img class="social-media__logo" src="/images/gmail.png" alt="gmail"></a>
    </div>

</section>