<footer class="footer">

    <ul class="footer__list--right">

        <li class="footer__item">
            <a href="/" class="footer__link">Úvod</a>
        </li>
        <li class="footer__item">
            <a href="/o-mne/" class="footer__link">O mne</a>
        </li>

    </ul>

    <ul class="footer__list--left">

        <li class="footer__item">
            <a href="/books/" class="footer__link">Books</a>
        </li>
        <li class="footer__item">
            <a href="/journal/" class="footer__link">Journal</a>
        </li>
        <li class="footer__item">
            <a href="/travel/" class="footer__link">Travel</a>
        </li>

    </ul>

    
    <p>© 2022 Graciána </p>
</footer>