<header class="header">

    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler">☰</label>
    
    
        <ul class="menu__list">

            <li class="menu__item">
                <a href="/" class="menu__link">Úvod</a>
            </li>
            <li class="menu__item">
                <a href="/o-mne/" class="menu__link">O mne</a>
            </li>
        </ul>

        <a href="/" class="menu__logo">
            <img class="logo" src="/images/graciana-font.svg" alt="graciana">
        </a>

        <ul class="menu__list">
            <li class="menu__item">
                <a href="/books/" class="menu__link">Books</a>
            </li>
            <li class="menu__item">
                <a href="/journal/" class="menu__link">Journal</a>
            </li>
            <li class="menu__item">
                <a href="/travel/" class="menu__link">Travel</a>
            </li>
        </ul>

    </nav>
    

</header>